nav.header-menu {
    margin-left: 60px;
    ul {
        @include reset-list();
        gap: 45px;
        a {
            color: $grey;
            text-decoration: none;
            font-size: 14px;
            font-weight: 300;
            &.active, &:hover {
                color: $orange;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    height: 3px;
                    background-color: $orange;
                    width: 80%;
                    bottom: -10px;
                    left: 10%;
                }
            }
        }
    }
}