$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// fonts
$secundary-font: "Montserrat", sans-serif;

//colores
$orange: #F38160;
$grey: #949494;
$black: #403C39;